{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>
<section class="common-form">
    {% if form.errors %}
        <p class="error-msg">ユーザー名とパスワードが正しくありません</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="error-msg">このページの閲覧権限がありません</p>
        {% else %}
            <p class="error-msg">ログインしてください.</p>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        <p>ログイン済みです</p>
    {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    {% endif %}
</section>

{% endblock %}