{% extends 'base.html' %}

{% block title %}インデックス{% endblock %}

{% block content %}

<h1>コース一覧</h1>
    {% if course_list %}
        <ul>
            {% for course in course_list %}
                <li><a href="/{{ course.id }}/">{{ course.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses are available.</p>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'editor:form' %}">コース作成</a><br>
        <a href="{% url 'recorder:form' %}">写真アップロード</a>
    {% else %}
        <p>写真のアップロードおよびコースを作成するにはログインしてください</p>
    {% endif %}

{% endblock %}